<section class="property-binding">

  <!--  <article>
    <h3>Interpolação</h3>
    <p>url: {{ url }}</p>
    <p>Calculando 1 + 1 = {{ 1+1 }}</p>
    <p>Calculando com método:  1 + 1 não é {{ 1+1+ getValor()}}</p>
    <p>Expressões lógicas com interpolação = {{verdadeiro && curtir()}}</p>
  </article>

  <article>
    <p>Property Binding</p>
    <img src = "{{ urlImagem }}">
    <img [src] = "urlImagem">
  </article> -->

  <!--  <article>
    <p>Class e Style Property-Binding</p>
  </article> -->

  <!-- <article>
    <p>Options:</p>
    <select #classe (change)=0>
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Alerta</option>
      <option value="alert-danger">Erro</option>
    </select>

    <br/>

    <div class="alert {{classe.value}}" role="alert">
      Change background color according to select
    </div>

    <br/>

     Caso o combo selecionado for "classe.value == 'alert-success', mostrar classe de success 
    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
  </article> -->



  <!-- <article>
    <p>Event Binding</p>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">Button</button>
      <br/>
      <br/>

      <input type="text" (keyup)="onkeyUp($event.target.value)" (keyup.enter)="salvarValor(campo.value)" (blur)="salvarValor(campo.value)"
        #campo />

    </div>
    <p>Valor atual {{ valorAtual }}</p>
    <p>Valor salvo {{ valorSalvo }}</p>

    <span (mouseover)="mouseOver()" (mouseout)="mouseOver()" [class.highlight] = "isMouseOver">
      EVENT MOUSE OUVER AND MOUSE OUT
    </span>

  </article> -->

  
  <article style="display: none">
      <h3>Data Binding</h3>
    <p>Two Way Data Binding</p>

    <div>
      <!-- associação de propriedade do Componente -> Template: [value]="nome" -->
      <!-- associação de evento do Template -> Componente: (input)="onkeyUp($event.target.value)"-->
      <input type="text" [value]= "nome" (input)="onkeyUp($event.target.value)" />
      <!--Template - Componente escultam ao mesmo tempo bidirecional: [(ngModel)]="nome"  -->
      <input type="text" [(ngModel)]="nome" />
      <p>Vc digitou: {{nome}}</p>

      <br/>

      <input type="text" [(ngModel)]="elector.name" />
      <input type="text" [(ngModel)]="elector.age" />
      <br/>


      <p>Nome: {{elector.name}}, idade: {{elector.age}} </p>

      <p>DashBoard</p>
      

    </div>

  </article>


    <article>

      <h3>Input/Output Properties</h3>

      <app-curso [nome]="nomeCurso"></app-curso>

    </article> 


</section>